{% extends 'base.html.twig' %}

{% block title %}Modifier l'article
{% endblock %}

{% block body %}

	<h1 class="my-5">Modifier l'article</h1>
	<div class="container">
		{{form(form)}}
    </div>
	
{% endblock %}
